core-locale-mariadb:
  image: mariadb:latest
  environment:
    - MYSQL_ROOT_PASSWORD=password
    - MYSQL_DATABASE=core_db
    - MYSQL_USER=core_db_user
    - MYSQL_PASSWORD=password
  ports:
    - 3306:3306

core-locale-service:
  environment:
    - MYSQL_ADDR=core-locale-mariadb
    - MYSQL_PORT=3306
    - MYSQL_DATABASE=core_db
    - MYSQL_USER=core_db_user
    - MYSQL_PASSWORD=password
  build: .
  links:
    - core-locale-mariadb
  ports:
    - 8080:8080